.about-page{
    display: flex;
    flex-direction:column;
}

.section{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: top;
    position: relative;
}

.section1{
    background-image: url('/public/Assets/About/about-bg-1.png');
    min-height: 260vh;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.section2{
    background-image: url('/public/Assets/About/about-bg-2.png');
    min-height: 220vh;
}

.section3{
    background-image: url('/public/Assets/About/about-bg-3.png');
    min-height: 275vh;
}

.section4{
    background-image: url('/public/Assets/About/about-bg-4.png');
    min-height: 250vh;
}

.section5{
    background-color: rgb(198, 132, 46);
    min-height: 40vh;
}

.founder-message{
    background-color: #75962D;
    margin-left: 96px;
    margin-top:445px;
}

.brand-message{
    background-color: #75C3F5;
    margin-left: 53.4%;
    top:84.5%;
    width: 40vw;
    height: fit-content;
    position: absolute;
    z-index: 2;
}

.story-message{
    background-color:#D6B917; 
    margin-left: 54.2%;
    top:17.7%;
    width: 40vw;
    height: fit-content;
    position: absolute;
}

.about-message{
    color: white;
    display: flex;
    text-align: left;
}

.about-message h1{
    color: #FFF;
    font-size: clamp(2rem, 5vw, 5.3rem); /* Scales font size based on screen width */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom:11px;
}

.about-message p{
    color: #FFF;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

.textbox{
    width: 527px;
    height: hug;
    padding: 40px;
}

.textbox2{
    width: 527px;
    height: hug;
    padding: 40px;
}

.about-image-1{
    position: absolute;
    top: 87%;
    margin-left: 62%;
    z-index: 2;
    width: 33vw;
    height: auto;
    max-width: 500px;
}

.about-image-2{
    position: absolute;
    margin-left: 23.5%;
    top: 25.2%;
    width: 26.5vw;
    height: auto;
    max-width: 400px;
    z-index: 2;
}

.about-image-3{
    position: absolute;
    margin-left: 4%;
    top: 39.4%;
    width: 26.2vw;
    height: auto;
    max-width: 400px;
    z-index: 1;
}

.about-image-4{
    position: absolute;
    margin-left: 32.5%;
    top:52%;
    width: 29.7vw;
    height: auto;
    max-width: 450px;
    z-index: 2;
}

.about-image-5{
    position: absolute;
    margin-left:2%;
    top: 22%;
    width: 37.6vw;
    height:auto;
    max-width: 569px;
    z-index: 1;
}

.about-image-6{
    position: absolute;
    margin-left:5%;
    top: 86%;
    width: 46.2vw;
    height:auto;
    max-width: 700px;
    z-index: 1;
}

