.about-page{
    display: flex;
    flex-direction:column;
}

.section{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: top;
    position: relative;
}

.overlapping-container{
    position: relative; /* Makes this the reference point for its children */
    width: 650px; /* Adjust width to your needs */
    height: 650px;
    display: flex;
}

.overlapping-container2{
    position: relative; /* Makes this the reference point for its children */
    width: 1000px; /* Adjust width to your needs */
    height: 1250px;
    display: flex;
    margin-top:220px;
}

.section1{
    background-image: url('/public/Assets/About/about-bg-1.png');
    min-height: 2308.944px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.section2{
    background-image: url('/public/Assets/About/about-bg-2.png');
    min-height: 220vh;
}

.section3{
    background-image: url('/public/Assets/About/about-bg-3.png');
    min-height: 275vh;
}

.section4{
    background-image: url('/public/Assets/About/about-bg-4.png');
    min-height: 250vh;
}

.section5{
    background-color: rgb(198, 132, 46);
    min-height: 40vh;
}

.founder-message{
    background-color: #587023;
    margin-left: 4.7%;
    margin-top:29%;
    width: 527px;
    height: 603px;
    display: inline-flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.brand-message{
    background-color: #185277;
    margin-left: 53.4%;
    top:84.5%;
    width: 527px;
    height: 342px;
    display: inline-flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    z-index: 2;
}

.story-message{
    background-color:#812F2C; 
    margin-left: 54.2%;
    top:17.7%;
    width: 527px;
    height: 342px;
    position: absolute;
    display: inline-flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 2;
}

.about-message{
    color: white;
    display: flex;
    text-align: left;
}

.about-message h1{
    color: #FFF;
    font-size: clamp(2rem, 5vw, 5.3rem); /* Scales font size based on screen width */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom:11px;
}

.about-message p{
    color: #FFF;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

.textbox{
    width: 527px;
    height: hug;
    padding: 40px;
}

.textbox2{
    width: 527px;
    height: hug;
    padding: 40px;
}

.about-image-1{
    position: absolute;
    top: 2050px;
    margin-left: 62%;
    z-index: 2;
    width: 33vw;
    height: auto;
    max-width: 500px;
}

.about-image-2{
    position: absolute;
    margin-left: 326px;
    top: 357px;
    width: 400px;
    height: auto;
    z-index: 2;
}

.about-image-3{
    position: absolute;
    margin-left: 61px;
    top: 558px;
    width: 26.2vw;
    height: auto;
    max-width: 400px;
    z-index: 1;
}

.about-image-4{
    position: absolute;
    margin-left: 492px;
    top:885px;
    width: 29.7vw;
    height: auto;
    max-width: 450px;
    z-index: 2;
}

.about-image-5{
    position: absolute;
    margin-left:2%;
    top: 22%;
    width: 37.6vw;
    height:auto;
    max-width: 569px;
    z-index: 1;
}

.about-image-6{
    position: absolute;
    margin-left:200px;
    top: 86%;
    width: 876.04px;
    height: 618.02px;
    max-width: 700px;
    z-index: 1;
}

