.events-page{
    background: black;
}

.landing-section{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iphone-paragraph-container{
    display: grid;
    padding-top: 220px;
    margin: 20px;
    max-width: 1800px;
    max-height: 1200px;
    width: 1600px;
    height: 1000px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}


.para-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row: 2 / 8;
    grid-column: 5 / 9;
}

.moving-strip{
    display: flex;
    padding: 33px 160px;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    background: #F5F5F5;
}

.events-section{
    display: flex;
    flex-direction: column;
}

.hover-section {
    position: relative; 
    display: flex;
}
  
/* Make the image responsive */
.hover-section .event-background {
    width: 100%;
    height: auto;
}

.event-picture{
    margin-top: -6px;
    width: 100%;
    transition: filter 0.3s ease-in-out;
}

/* Style the button and place it in the middle of the container/image */
.hover-section .gallery-button {
    position: absolute;
    align-self: anchor-center;
    justify-self: anchor-center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 35px;
    background: #F5F5F5;
    border: none;
    opacity: 0;
}

.hover-section:hover .gallery-button{
    background-color: rgb(180, 180, 180);
    opacity: 100;
}

.hover-section:hover .event-picture {
    filter: brightness(50%); /* Darkens the image by reducing brightness */
}

.stay-tuned-text{
    margin-top: 140px;
    margin-left: 125px;
    grid-row: 7 / 8;
    grid-column: 4 / 9;
}

.the-art-of-text{
    margin-left:25px;
    margin-top: 55px;
    grid-row: 1 / 8;
    grid-column: 5 / 9;
}

.iphone-pic{
    margin-top: 100px;
    margin-left: 90px;
}