.info-text-container{
    display: flex;
    width: 1256px;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
}

#text-box{
    width: 512px;
}

.right-sticky-picture{
    right:0;
}

.magazine-info-div{
    padding-top: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text-container{
    text-align: left;
}