.info-text-container{
    display: flex;
    width: 1456px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#text-box{
    padding-top: 100px;
    padding-left:40px;
    width: 692px;
    grid-row: 3 / 5;
    grid-column: 4 / 6;
}

.right-sticky-picture{
    right:0;
}

.magazine-info-div{
    padding-top: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text-container{
    text-align: left;
}

.top-text-container{
    width: 100%;
    height: 650px;
    display: grid;
    grid-template-rows: 130px 130px 130px 130px 130px;
    grid-template-columns: 242px 242px 242px 242px 242px 242px ;
}

