.navbar{
    background-color: rgba(0, 0, 0, 0); /* 50% opacity black background */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.navbar .header {
    font-style: italic;
}

.navbar .navList{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 700;

}

a:hover{
    color: red
}
