.navbar{
    background-color: rgba(0, 0, 0, 0); /* 50% opacity black background */
    padding: 20px;
    position: absolute;
}

.navbar .header {
    font-style: italic;
}

.navbar .navList{
    font-weight: 700;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
