.shop-page{
    background-color:rgb(231,230,228);
    height: 4242px;
    display:flex;
    justify-content: center;
}

.shop-link-div{
    display:flex;
    flex-direction: column;
    max-width: 700px;
    align-items: center;
    gap: 30px;
    min-width: 630px;
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    padding-top: 20px;
    padding-left: 75px;
}

.shop-link-title{
    color: #8E0000;
    text-align: center;
    font-family: "PT Serif";
    font-size: 55px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.9px;
    text-transform: lowercase;
    margin-top:0px;
    margin-bottom: 0px;
}

.shop-link-button{
    border-radius: 35px;
    background: #030303;
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 585px;
    display:flex;
}

.shop-link-button-text{
    color: #F5F5F5;
    text-align: center;
    font-family: "Bai Jamjuree";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cutout-captions{
    color: #030303;
    font-family: "Bai Jamjuree";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top-grid{
    display:grid;
    width: 1337px;
    height: 1345px;
    padding-top: 272px;
    display: grid;

    grid-template-columns: 222px 222px 222px 222px 222px 223px;
    grid-template-rows: 222px 222px 222px 222px 222px 223px;
}

.label-1 {
    width: 255px;
    height: 66px;
    text-align: left;
    padding-top: 120px;
    padding-left: 40px;
    grid-row: 1 / 5;
    grid-column: 6 / 6;
}
  
.label-2 {
    width: 417px;
    height: 31px;
    padding-top: 54px;
    padding-left: 175px;
    grid-row: 3 / 3;
    grid-column: 2 / 4;
}
  
.label-3 {
    grid-row: 5 / 5;
    grid-column: 3 / 5;
    padding-left: 180px;
    padding-top: 135px;
}

.cutout-image{
    grid-row: 1 / 3;
    grid-column: 4 /5;
    max-width: 100%;
}