.shop-page{
    background-color:rgb(231,230,228);
    height: 4242px;
    display:flex;
    justify-content: center;
}

.shop-link-div{
    display:flex;
    flex-direction: column;
    max-width: 700px;
    align-items: center;
    gap: 30px;
}

.shop-link-title{
    color: #8E0000;
    text-align: center;
    font-family: "PT Serif";
    font-size: 65px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.9px;
    text-transform: lowercase;
    margin-top:0px;
    margin-bottom: 0px;
}

.shop-link-button{
    border-radius: 35px;
    background: #030303;
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 585px;
    display:flex;
}

.shop-link-button-text{
    color: #F5F5F5;
    text-align: center;
    font-family: "Bai Jamjuree";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cutout-captions{
    color: #030303;
    text-align: right;
    font-family: "Bai Jamjuree";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top-grid{
    display:grid;
    width: 1337px;
    height: 1345px;
    padding-left: 101px;
    padding-top: 272px;
}