.team-join{
    background-image: url('/public/Assets/Team/team-bg-1.png'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: top;
    min-height: 982px; 
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; 
}

.team-members{
    background-color: #F4ECE2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.join-card{
    margin-top: 301px;
    width: 1256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

.join-card-text{
    color: white;
    width:750px;
}

.join-card-buttons{
    width: 713px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}

.apply-buttons{
    display: flex;
    gap:23px;
}

button{
    display: flex;
    width: 345px;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 35px;
    background: #FFF;
}

.team-title-caption{
    margin:0px;
}
