@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&family=DM+Serif+Text&family=PT+Serif:wght@400;700&display=swap');

body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-dm-serif {
  font-family: 'DM Serif Text', serif; /* Apply DM Serif Text font */
}

.text-pt-serif {
  font-family: 'PT Serif', serif; /* Apply PT Serif font */
}

.para-bai-jamjuree {
  font-family: 'Bai Jamjuree', sans-serif; 
  text-indent: 30px;
}

.paragraph-message{
  color: #F5F5F5;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-indent: 30px;
}

.centered-p-bai-jamjuree{
  text-align: center;
  font-family: "Bai Jamjuree";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 228px;
}

.team-title{
  font-family: "PT Serif";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.team-title-caption{
  color: #FFF;
  text-align: center;
  font-family: "PT Serif";
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.header-brand-text{
  color: #030303;
  font-family: "PT Serif";
  font-size: 80px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: -60px;
}

.header-magazine-text{
  color: #030303;
  font-family: "PT Serif";
  font-size: 350px;
  font-style: italic;
  font-weight: 700;
  line-height: 81.936%; /* 286.776px */
  width: 1239.227px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.magazine-para-text{
  color: #030303;
  text-align: justify;
  font-family: "Bai Jamjuree";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-indent: 50px;
}